<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513421668976-1f73ioetaju958apleb004e26mmbh96v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513421668976-1f73ioetaju958apleb004e26mmbh96v</string>
	<key>API_KEY</key>
	<string>AIzaSyAneWtDLW-sePR65gMbI37sQVhc_Cu0lsY</string>
	<key>GCM_SENDER_ID</key>
	<string>513421668976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cityXcape.CityXcape</string>
	<key>PROJECT_ID</key>
	<string>cityxcape-8888</string>
	<key>STORAGE_BUCKET</key>
	<string>cityxcape-8888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513421668976:ios:e06a62e2a06b486b93fab5</string>
</dict>
</plist>